* {
    margin: 0;
    font-family: ofelia-display, sans-serif;
    font-style: normal;
          font-weight: 100;
}

.welcome {
    font-size: 40px;
    padding: 40px 20px ;
    text-align: center;
    font-weight: 700;
}